body {
    margin: auto;
    /* width: 600px;
    
    height: 600px; */
    width: 100%;
    background-image: url('../images/background.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    /* margin-left: 50px; */
}

