body {
    margin: auto;
    width: 600px;
    height: 600px;
    /* width: 100%; */
    /* background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    /* margin-left: 50px; */
    background-color: rgb(153, 143, 199);
}

.canvas {
    /* width: 600px;
    height: 600px; */
    margin: auto;
}
